.drop-down{
    .label-style{
        font-size: 15px;
        font-weight: 500;
        padding-left: 10px;
    }
    .select-options{
        height: 30px;
        font-size: 13px;
        font-weight: 600;
        width: 76px;
        border-radius: 4px;
        border: 2px solid #b7b7b7;
    }
}
