.today-forecast{
    .country-name{
      font-size: 40px;
      font-weight: bold;
    }
    .date{
      font-size: 20px;
      font-weight: 500;
      color: #857f7fb8;
    }
    p{
      margin: 0px;
    }
    .temperature{
      position: absolute;
    }
    .number{
      font-size: 30px;
      font-weight: 500;
    }
    .cf{
      position: absolute;
    }
  }
  .middle{
    display: grid;
    justify-content: left;
    padding-bottom: 20px;
    padding-left: 10%;
    p{
      margin: 0px;
      font-size: 16px;
      font-weight: 500;
      color: #857f7fb8;
    }
  }