.main{
    padding-bottom: 30px;
}
.parent {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .min{
        font-weight: 500;
        color: #857f7fb8;
    }
    .max{
        font-weight: 500;
    }
}
h1{
    text-align: center;
}
