.input-search{
    height: 30px;
    border-radius: 5px;
    border: 2px solid #b7b7b7;
    padding-left: 5px;
}

.search-btn{
    height: 30px;
    border-radius: 5px;
    border: 2px solid #b7b7b7;
}
